* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

nav,
main,
footer {
  display: flex;
  margin: auto;
  border: 1px solid black;
}

hr {
  width: 100vw;
  height: 30px;
  margin: auto;
  background-color: black;
  border: none;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.5% 6%;
  background-color: black;
  color: #fff;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  gap: 35px;
  font-size: smaller;
}

main {
  flex-direction: column;
}

.hero-video {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.hero-video > div {
  margin: auto;
  width: 98vw;
  height: 80%;
}

.card {
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 8rem 4rem;
}

.card > h3,
p {
  width: 50%;
  height: 80%;
  text-align: center;
}

.card > h3 {
  font-size: 65px;
  text-align: left;
  font-weight: 500;
}

.card > p {
  width: 30%;
  font-size: 23px;
  text-align: left;
}

.about {
  background-color: #d5d3cd;
}

footer {
}

ul {
  list-style: none;
}
